html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: $lightGrayishBlue;
  color: $desaturatedDarkBlue;
  font-family: 'Manrope', sans-serif;
  font-size: rem(13px);
  font-weight: 200;
  height: 100%;
  letter-spacing: rem(0.121875px);
  line-height: calc(20 / 13);
  min-height: 100vh;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

button:focus:not(:focus-visible),
a:focus:not(:focus-visible) {
  outline: none;
}

button:focus-visible,
a:focus-visible {
  outline: 2px dotted $grayishBlue;
  outline-offset: 3px;
}

button,
a {
  -webkit-transition: -webkit-transform 150ms ease-in-out;
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

button:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

a:hover {
  -webkit-transform: scale(1.2) rotate(4deg);
  transform: scale(1.2) rotate(4deg);
}

li {
  list-style-type: none;
}