html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: rem(13px);
  font-family: 'Manrope', sans-serif;
  height: 100%;
  min-height: 100vh;
  background-color: $lightGrayishBlue;
  color: $veryDarkGrayishBlue;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;

  & a {
    color: hsl(228, 45%, 44%);
  }
}