.l- {
  &site-container {
    margin: 0 6.4%;
  }

  &flex {
    display: flex;

    &--center {
      justify-content: center;
      align-items: center;
    }

    &--col {
      flex-direction: column;
    }

    &--lg-row {
      @include breakpoint-up(medium) {
        flex-direction: row;
      }
    }
  }
}

.card {
  padding-bottom: rem(20px);

  &__img {
    flex-basis: 200px;
  }

  &__main {
    padding: 0 9.79%;
  }

  &__header {
    margin-top: rem(36px);
  }

  &__body {
    margin-top: rem(12px);
  }

  &__footer {
    margin-top: rem(20px);
  }
}