.l- {
  &site-container {
    margin: 0 6.4%;

    @include breakpoint-up(large) {
      padding: 5rem 0;
    }
  }

  &flex {
    display: flex;

    &--center {
      justify-content: center;
      align-items: center;
    }

    &--jc-sb {
      justify-content: space-between;
    }

    &--col {
      flex-direction: column;
    }

    &--lg-row {
      @include breakpoint-up(large) {
        flex-direction: row;
      }
    }
  }
}

.card {
  padding-bottom: rem(20px);

  @include breakpoint-up(large) {
    padding-bottom: 0;
  }

  &__img {
    flex: 0 0 200px;

    @include breakpoint-up(large) {
      flex-basis: 285px;
    }
  }

  &__main {
    padding: 0 9.79%;

    @include breakpoint-up(large) {
      padding: rem(32px) 5.48%;
    }
  }

  &__header {
    margin-top: rem(36px);

    @include breakpoint-up(large) {
      margin-top: 0;
    }
  }

  &__body {
    margin-top: rem(12px);
  }

  &__footer {
    margin-top: rem(32px);

    @include breakpoint-up(large) {
      margin-top: rem(20px);
    }
  }

  &__avatar {
    margin-right: rem(16px);
  }
}