.l- {
  &site-container {
    margin: 0 6.505%;
    padding: 3rem 0;

    @include breakpoint-up(large) {
      padding: 5rem 0;
    }
  }

  &flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    &--center {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    &--jc-sb {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }

    &--ai-c {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    &--col {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    &--lg-row {
      @include breakpoint-up(large) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
      }
    }
  }
}

.card {
  padding-bottom: rem(20px);

  @include breakpoint-up(large) {
    padding-bottom: 0;
  }

  &__img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 rem(200px);
    flex: 0 0 rem(200px);

    @include breakpoint-up(large) {
      -ms-flex-preferred-size: rem(285px);
      flex-basis: rem(285px);
    }
  }

  &__main {
    padding: 0 rem(32px);

    @include breakpoint-up(large) {
      padding: rem(32px) 5.48%;
    }
  }

  &__header {
    margin-top: rem(36px);

    @include breakpoint-up(large) {
      margin-top: 0;
    }
  }

  &__body {
    margin-top: rem(12px);
  }

  &__footer {
    margin-top: rem(32px);

    @include breakpoint-up(large) {
      margin-top: rem(20px);
    }
  }

  &__avatar {
    margin-right: rem(16px);
  }

  &__btn {
    &--is-toggled-on {
      @include breakpoint-down(large) {
        margin-bottom: rem(-8px);
      }
    }
  }
}

.socials {
  margin-left: rem(-32px);
  margin-top: rem(-12px);

  @include breakpoint-up(large) {
    margin-left: rem(225px);
    margin-top: rem(-80px);
  }

  &__wrapper {
    padding: 0 rem(32px);
  }

  &__share {
    margin-right: rem(20px);
  }

  &__icon-item:not(:last-child) {
    margin-right: rem(16px);
  }
}

.attribution {
  position: absolute;

  @media (min-height: 300px) {
    bottom: 1rem;
    position: fixed;
  }
}