.card {
  background-color: #fff;
  box-shadow: 0 rem(40px) rem(40px) rem(-10px) rgba(201, 213, 225, 0.503415);
  border-radius: rem(10px);
  overflow: hidden;

  &__img {
    background: url("/images/drawers.jpg") no-repeat top 25% center/100%;
  }

  &__header {
    font-size: rem(16px);
    line-height: calc(24/16);
    letter-spacing: rem(0.2px);
    color: $veryDarkGrayishBlue;

    @include breakpoint-up(large) {
      font-size: rem(20px);
      line-height: calc(28/20);
      letter-spacing: rem(0.25px);
    }
  }

  &__body {
    color: $desaturatedDarkBlue;
  }

  &__footer {}

  &__avatar {
    max-width: 40px;
    border-radius: 50%;
  }

  &__author {
    font-style: normal;
    font-weight: 700;
    color: $veryDarkGrayishBlue;
  }

  &__date-published {
    font-weight: 200;
    color: $grayishBlue;
  }

  &__btn {
    width: rem(32px);
    height: rem(32px);
    border-radius: 50%;
    border: none;
    background-color: $lightGrayishBlue;
    align-self: center;
  }

  &__share-icon {
    width: rem(15px);
    height: rem(13px);
  }
}