.card {
  background-color: #fff;
  box-shadow: 0 rem(40px) rem(40px) rem(-10px) rgba(201, 213, 225, 0.503415);
  border-radius: rem(10px);
  overflow: hidden;

  &__img {
    background: url("/images/drawers.jpg") no-repeat top 25% center/100%;
  }

  &__header {
    font-size: rem(16px);
    line-height: rem(24px);
    letter-spacing: rem(0.2px);
  }

  &__body {
    color: $desaturatedDarkBlue;
    font-weight: 200;
    line-height: rem(20px);
    letter-spacing: rem(0.121875px);
  }

  &__footer {}
}